NEXT_PUBLIC_API_URL=http://localhost:8080
# API_URL=http://localhost:8080
NEXTAUTH_URL=http://localhost:3000
# NEXTAUTH_INTERNAL_URL=http://host.internal.docker:3000
NEXTAUTH_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwNDI5MjAyMDIwMjAiLCJuYW1lIjoiS29rIFdlaSBLaG9uZyIsImlhdCI6MTUxNjIzOTAyMn0.wprwZ7HkeSYQSoEdei4tqHRpkaEJ6t8VyezM_dFtvZ0
SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIwNDI5MjAyMDIwMjAiLCJuYW1lIjoiS29rIFdlaSBLaG9uZyIsImlhdCI6MTUxNjIzOTAyMn0.wprwZ7HkeSYQSoEdei4tqHRpkaEJ6t8VyezM_dFtvZ0
