SERVER_LISTEN_ADDR=8080
# POSTGRES_HOST=localhost
POSTGRES_HOST=khongfamily_database
POSTGRES_PORT=5432
POSTGRES_NAME=khongfamily
POSTGRES_USER=khongadmin
POSTGRES_PASSWORD=khong1314Family
POSTGRES_DB=khongfamily
JWT_SECRET=khongfamily
