<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post">
      <label for="date">Date</label>
      <input type="date" name="date" id="date" required />
      <label for="description">Description</label>
      <input type="text" name="description" id="description" required />
      <label for="amount">Amount</label>
      <input type="number" name="amount" id="amount" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
